name: Build Docker Image

on:
  push:
    branches:
      - 'ci-**'
    tags:
      - "v*.*.*"

permissions:
  contents: read

env:
  TAGGED_IMAGE: ${{ vars.IMAGE_BASE }}:${{ github.ref_name }}
  LATEST_IMAGE: ${{ vars.IMAGE_BASE }}:latest

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build test image
        uses: docker/build-push-action@v4
        with:
          context: .
          load: true
          platforms: linux/amd64
          cache-from: type=registry,ref=${{ vars.IMAGE_BASE }}:buildcache
          tags: |
            ${{ env.TAGGED_IMAGE }}
      - name: Test docker run
        run: |
          docker run --rm ${{ env.TAGGED_IMAGE }} -h
      - name: Build and Push image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=registry,ref=${{ vars.IMAGE_BASE }}:buildcache
          cache-to: type=registry,ref=${{ vars.IMAGE_BASE }}:buildcache,mode=max
          tags: |
            ${{ env.TAGGED_IMAGE }}
            ${{ env.LATEST_IMAGE }}
